<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminMember.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminMemberManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-user"></i> 充值优惠管理</a></li>
            <li role="presentation"><a href="/admin/ticket/refund"><i class="icon-remove-circle"></i> 退票管理</a></li>
            <li role="presentation"><a href="/admin/home/page/manage"><i class="icon-star"></i> 首页滚动栏内容管理</a></li>
            <li role="presentation"><a href="/admin/worker/manage" style="display: none" id="manage-worker"><i class="icon-key"></i> 工作人员账号管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div id=""></div>
        <div class="content-header">
            <span class="title gray-text">充值管理</span>
            <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#memberModal"><i class="icon-plus-sign"></i> 发布充值优惠</button>
        </div>
        <div class="content-member" style="display: -webkit-box">

        </div>
    </div>
</div>

<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="memberModalLabel">发布会员卡策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-name-input"><span class="error-text">*</span>会员卡名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="recharge-name-input" placeholder="请输入会员卡名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-description-input"><span class="error-text">*</span>优惠描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="recharge-description-input" placeholder="请输入充值优惠描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-price-input"><span class="error-text">*</span>单张价格</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="recharge-price-input" placeholder="请输入会员卡单张价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-target-input"><span class="error-text">*</span>需满金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="recharge-target-input" placeholder="请输入参与优惠需充值金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-discount-input"><span class="error-text">*</span>优惠金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="recharge-discount-input" placeholder="请输入充值获赠金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="member-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CardModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="memberEditLabel">编辑会员卡策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-name-edit"><span class="error-text">*</span>会员卡名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="recharge-name-edit" placeholder="请输入会员卡名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-description-edit"><span class="error-text">*</span>优惠描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="recharge-description-edit" placeholder="请输入充值优惠描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-price-edit"><span class="error-text">*</span>单张价格</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="recharge-price-edit" placeholder="请输入会员卡单张价格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-target-edit"><span class="error-text">*</span>需满金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="recharge-target-edit" placeholder="请输入参与优惠需充值金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="recharge-discount-edit"><span class="error-text">*</span>优惠金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="recharge-discount-edit" placeholder="请输入充值获赠金额">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="member-edit-remove-btn">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="member-edit-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>